h1 {
    color: darkblue;
    text-align: center;
    font-size: 5rem;
}
h2 {
    text-align: center;
}
p {
    color: black;
    padding: 100px;
}
div#foto-perfil {
    background-image: url(../img/foto-sebastian.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 545px;
    max-width: 726px;
    border-radius: 15px;
}